@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* === Base Font: CCEPRhythm === */
@font-face {
  font-family: 'CCEPRhythm';
  src: url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-Light.woff2') format('woff2'),
    url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CCEPRhythm';
  src: url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-Medium.woff2') format('woff2'),
    url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CCEPRhythm';
  src: url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-Dark.woff2') format('woff2'),
    url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-Dark.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* === Narrow Font === */
@font-face {
  font-family: 'CCEPRhythm Narrow';
  src: url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-NarrowLight.woff2') format('woff2'),
    url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-NarrowLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CCEPRhythm Narrow';
  src: url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-NarrowMedium.woff2') format('woff2'),
    url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-NarrowMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CCEPRhythm Narrow';
  src: url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-NarrowDark.woff2') format('woff2'),
    url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-NarrowDark.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* === Wide Font === */
@font-face {
  font-family: 'CCEPRhythm Wide';
  src: url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-WideLight.woff2') format('woff2'),
    url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-WideLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CCEPRhythm Wide';
  src: url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-WideMedium.woff2') format('woff2'),
    url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-WideMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CCEPRhythm Wide';
  src: url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-WideDark.woff2') format('woff2'),
    url('/fonts/CCEP_Rhythm/WEB/CCEPRhythm-WideDark.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-red: #F40009;
  --color-brown: #240000;
  --color-pink: #F0E9E9;
  --color-black: #191919;

  /* Font */
  --font-ccep-narrow: 'CCEPRhythm Narrow', arial;
  --font-ccep-wide: 'CCEPRhythm Wide', arial;
  --font-ccep: 'CCEPRhythm', arial;

  /* Break point */
  --breakpoint-3xl: 90rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background-color: var(--color-pink);
  width: 100%;
  overflow-x: hidden; 
  font-family: var(--font-ccep);
}

._bg {
  background: linear-gradient(to bottom, transparent 73px, white 74px),
    linear-gradient(to right, transparent 73px, white 74px);
  background-size: 74px 74px;
}

._padding_top {
  @apply pt-20 lg:pt-25.5
}